@page "/access-management/user"
@rendermode InteractiveServer
@inherits PageBase;

@using Core;
@using Identity
@using Microsoft.AspNetCore.Identity

@inject IMeta _meta;
@inject IAccess _access;
@inject RoleManager<ApplicationRole> RoleManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager;
@inject NotificationService NotificationService


@if (Input == null)
{
        <p><em>Loading...</em></p>
}
else
{
                <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter" @bind-Visible="IsAlertVisible">
        @AlertBody
            </RadzenAlert>
        <RadzenCard>
            <RadzenTemplateForm Data="@Input" Submit="@((UserModel args) => { Submit(args); })" InvalidSubmit=@OnInvalidSubmit>
                <RadzenRow Gap="2rem" class="rz-w-auto">
                    <RadzenColumn Size="12" SizeMD="12">
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <RadzenFieldset Text="Image" class="rz-vw-25">
                                <RadzenStack Gap="1rem">
                                    <RadzenImage Path="@ImageUrl" AlternateText="@Input.FirstName" />
                                    <RadzenUpload Multiple="false" Change=@OnImageUpload Style="width: 100%" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})" />

                                </RadzenStack>
                            </RadzenFieldset>
                            <RadzenFieldset Text="Basic Info" class="rz-w-fit-content">
                                <RadzenStack Gap="1rem">
                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenFormField Text="First Name" Style="width: 100%;" AllowFloatingLabel="false">
                                            <ChildContent>
                                                <RadzenTextBox Name="FirstName" @bind-Value="@Input.FirstName" />
                                            </ChildContent>
                                            <Helper>
                                                <RadzenRequiredValidator Component="FirstName" Text="First Name is required." />
                                                <RadzenLengthValidator Component="FirstName" Max="150" Text="First Name should be at most 150 characters" />
                                            </Helper>
                                        </RadzenFormField>
                                    </RadzenColumn>

                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenFormField Text="Last Name" Style="width: 100%;" AllowFloatingLabel="false">
                                            <ChildContent>
                                                <RadzenTextBox Name="LastName" @bind-Value="@Input.LastName" />
                                            </ChildContent>
                                            <Helper>
                                                <RadzenRequiredValidator Component="LastName" Text="Last Name is required." />
                                                <RadzenLengthValidator Component="LastName" Max="150" Text="Last Name should be at most 150 characters" />
                                            </Helper>
                                        </RadzenFormField>
                                    </RadzenColumn>

                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenFormField Text="Email Address" Style="width: 100%;" AllowFloatingLabel="false">
                                            <ChildContent>
                                                <RadzenTextBox Name="EmailAddress" @bind-Value="@Input.EmailAddress" />
                                            </ChildContent>
                                            <Helper>
                                                <RadzenRequiredValidator Component="EmailAddress" Text="Email Address is required." />
                                                <RadzenLengthValidator Component="EmailAddress" Max="150" Text="Email Address should be at most 150 characters" />
                                            </Helper>
                                        </RadzenFormField>
                                    </RadzenColumn>

                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenFormField Text="Phone Number" Style="width: 100%;" AllowFloatingLabel="false">
                                            <ChildContent>
                                                <RadzenTextBox Name="PhoneNumber" @bind-Value="@Input.PhoneNumber" />
                                            </ChildContent>
                                            <Helper>
                                                <RadzenRequiredValidator Component="PhoneNumber" Text="Phone Number is required." />
                                                <RadzenLengthValidator Component="PhoneNumber" Max="150" Text="Phone Number should be at most 150 characters" />
                                            </Helper>
                                        </RadzenFormField>
                                    </RadzenColumn>


                                </RadzenStack>
                            </RadzenFieldset>
                            <RadzenFieldset Text="Administration" class="rz-w-fit-50">
                                <RadzenStack Gap="1rem">


                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenFormField Text="Access Roles" Style="width: 100%;" AllowFloatingLabel="false">
                                            <ChildContent>
                                                <RadzenDropDown @bind-Value=@SelectedRoles Data=@roles TextProperty="@nameof(ApplicationRole.Name)" ValueProperty="@nameof(ApplicationRole.Name)" Name="AccessRoles"
                                                                Multiple=true AllowClear=true Placeholder="Select Roles" Chips=true Style="width: 100%; max-width: 400px;" />
                                            </ChildContent>
                                            <Helper>
                                                <RadzenRequiredValidator Component="LastName" Text="Last Name is required." />
                                                <RadzenLengthValidator Component="LastName" Max="150" Text="Last Name should be at most 150 characters" />
                                            </Helper>
                                        </RadzenFormField>
                                    </RadzenColumn>


                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenFormField Text="Organizations" Style="width: 100%;" AllowFloatingLabel="false">
                                            <ChildContent>
                                                <RadzenDropDown @bind-Value=@SelectedOrganizationIds Data=@Organizations TextProperty="@nameof(Core.Models.Data.Organization.Name)" ValueProperty="@nameof(Core.Models.Data.Organization.Id)" Name="Organizations"
                                                                Multiple=true AllowClear=true Placeholder="Select Organizations" Chips=true Style="width: 100%; max-width: 400px;" />
                                            </ChildContent>
                                            <Helper>

                                            </Helper>
                                        </RadzenFormField>
                                    </RadzenColumn>

                                      <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                          <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Outlined" Size="ButtonSize.Medium" Icon="password" Text="Send Password Reset" Click="@OnSendPasswordReset_Click"  />
                                          </RadzenColumn>
                                </RadzenStack>
                            </RadzenFieldset>

                        </RadzenStack>
                    </RadzenColumn>

                </RadzenRow>



                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
                    <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" />
                </RadzenStack>
            </RadzenTemplateForm>

        </RadzenCard>
}

